.full-banner-form {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dddcda;
    .container-login {
        width: 420px;
        height: 40vh;
        display: flex;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            label {
                width: 70%; 
                display: flex;
                flex-direction: column;
                input {
                    width: 100%;
                }
            }
            p { margin: 0;}
        }
    }
}