@import 'reset.scss';

.top-site{
    width: 100%;
    height: 100px;
    #tooltip {
        position: fixed;
        right: 5%;
        top: 5%;
        &:hover { 
            cursor: pointer;
        }
    }
    
}

.tooltip{
        width: 200px;
        height: 300px;
        background-color: #fff;
        box-shadow: 0px 0px 4px 10px rgba(0,0,0,0.2);
        display:none;
        padding: 10px;
        border: solid 3px rgba(255,255,255,0.5);
        align-items: center;
        text-align: center;
    }
